<<<<<<< HEAD
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #0e2d34;
    font-family: poppins, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0.5%;
    background-color: #13072e;
}


#logo {
    max-width: 190px;
    max-height: 120px;
    width: auto;
    height: auto;
    padding: 15px;
    margin-left: 3rem;
}

li {
    display: inline-block;
    margin: 15px;
}

a {
    color: white;
}

a:hover {
    color: #bded33;
    transition: 0.3s all;
}


#contato-btn {
    background-color: #bded33;
    padding: 10px;
    border-radius: 20px;
    color: #13072e;
    margin-right: 3.9rem;
}

#contato-btn:hover {
    background-color: #5ce1e6;
    color: #13072e;
    cursor: pointer;
=======
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #0e2d34;
    font-family: poppins, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0.5%;
    background-color: #13072e;
}

#logo {
    max-width: 190px;
    max-height: 120px;
    width: auto;
    height: auto;
    padding: 15px;
}

li {
    display: inline-block;
    margin: 15px;
}

a {
    color: white;
}

a:hover {
    color: #bded33;
    transition: 0.3s all;
}

#contato-btn {
    background-color: #bded33;
    padding: 10px;
    border-radius: 20px;
    color: #13072e;
}

#contato-btn:hover {
    background-color: #5ce1e6;
    color: #13072e;
    cursor: pointer;
>>>>>>> c79add712d775380192bc3938f1e75f962aee55a
}